<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Inventory</title>
</head>
<body>
    <h1> Coffee that we have avaliable to buy</h1>
    <ul>
        <% for(let i = 0; i < coffee.length; i++){ %>
        <li>
          
          Brand: <%=coffee[i].brand; %></a> <br/>
          Name: <%=coffee[i].name; %> <br/>
          Taste: <%=coffee[i].taste;%> </br>
          <% if(coffee[i].inStock === true){ %> The coffee is in Stock <% } else { %> The coffee is NOT in stock <% } %> 
          <br/>
          <form action="/coffee/<%=coffee[i].id; %>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE" />
            </form>
            <a href="/coffee/<%=coffee[i].id; %>/edit">Edit</a>
        </li>
        <% } %>
       
      </ul>
<a href="/coffee/new">Add a New Entry</a>

</body>
</html>